

  *{
    box-sizing:border-box; 
    margin: 0;
    padding: 0;
  }
  
  
  div.container{
    border:5px solid rgb(99, 150, 99);
    width: 80%;
    margin:0 auto 0 auto; 
  
  }
  
  header{
    background-color:aquamarine;
  }
  
  .hero img{
    width: 100% 
  }
  
  div.left,div.middle, div.right{
    border:3px dotted rgb(66, 151, 79);
    width:30%;
    margin-right: 3%
  
  }
  
  div.middle{
    margin: 0 3%
  }
  
  img{ 
    width: 100%;
  }
  
  nav{ 
    background-color: blueviolet;
  }
  
  ul{
  text-align: center;
  
  }
  
  li{
    display:inline-block
    width:150px;
    border: 2px;
    line-height: 3em;
  
  }
  
  a{
    color:rgb(243, 243, 248);
    text-decoration:none; 
    border: 1px solid rgb(214, 60, 214)
    display:block 
  }
  
  aside img{
    width: 100%;
  
  
  }
  
  aside{
    display:flex;
    justify-content: space-between; 
  }
  
  
  